.container{
    width: 350px;
    height: 650px;
    border: 1px solid rgb(172, 169, 169);
    margin-left: 600px;
    text-align: center;
    padding-top: 20px;

   
}
.para1{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(104, 103, 103);
    font-weight: 500;
}
.div_para{
    width: 280px;
    margin-left: 35px;
}
.btn{
    background-color: #1877F2;
    border: none;
    width: 270px;
    height: 30px;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
}
.btn:hover{
    background-color: #3e8bef;
}
.para2{
    font-family: Arial;
    color: rgb(104, 103, 103);
    font-weight: 600;
    font-size: 14px;
}
.inp1{
    width: 270px;
    height: 35px;
    background-color: #f3f3f3;
    border: 1px solid rgb(172, 169, 169);
    border-radius: 4px;
    padding-left: 10px;
    margin-top: 10px;
}
.paradiv2{
width: 300px;
font-size: 15px;
margin-left: 25px;
color: rgb(104, 103, 103);
}
a{
color: rgb(3, 3, 52);
}
.btnsignup{
    background-color: #77A7FF;

}
a:link{
    text-decoration: none;
}